@font-face {
font-family: "LeeNewGothic-Regular";
src: url("LeeNewGothic-Regular.woff") format("woff"), url("LeeNewGothic-Regular.otf") format("opentype");
}

body { 
  font-family: LeeNewGothic-Regular, "Times New Roman";
  font-size: 30px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}
